
.card--container{
    margin: 40px;
    max-width: 300px;
}
.card--image{
    width: 300px;
    height: 200px;
    border-radius: 5px;
}

.card--location{
    font-weight: bold;
}
.card--summary{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}
.card--score, .card--star{
    float: right;
    padding: 0px 3px;
}

.card--score{
    font-size: 1.0rem;
}


.card--host, .card--availability{
    color: grey;
    line-height: 0.3;
}

.card--cost{
    font-weight: bold;
    text-decoration: underline;
}