.form--container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    font-size: 1.3rem;
    /* background-color: blue; */
}

form{
    width: 100%;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(3,40px); */
    padding: 0px;
    gap: 10px;
    margin: 40px;

}

input[type=text]{
    /* margin: 10px; */
    /* margin: 20px; */
    padding: 10px;
    /* width: 40%; */
    /* width: 40%; */
    border-radius: 10px;
    gap: 16px;
}
.top-text{
    grid-column: 2/3;
    /* grid-row: 2/3; */

}
.bottom-text{
    grid-column: 3/4;
    /* grid-row: 2/3; */

}

.get-new-meme{
    grid-column: 0/1;
    /* grid-row: 2/3; */

}

.save-meme{
    grid-column: 4/5;
    /* grid-row: 2/3; */
}

button{
    padding: 10px;
    background-image: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin: 0px;
    cursor: pointer;
    border: none;
}

.meme--container{
    position: relative;
    text-align: center;
    margin: 20px;
    /* margin-top: 50px; */

}

.meme--image{
    /* max-width: 40vw; */
    height: 40vh;
    margin: 0px;
    /* padding: 50px; */

}

.meme--text{
    color: white;
    font-size: 2rem;
    font-weight: bold;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px black;
}

.meme--topText{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);


}
.meme--bottomText{
    position: absolute;
    top: 80%;
    left: 50%;

}




.grey{
    filter: grayscale(100%);
}