.memeGrid{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
    gap: 5px;
}
.memeGridContainer{
    margin: 5px;
    position: relative;

}

h2{
    text-align: center;
}

.memeGrid--heading{
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    padding: 6px;
}


.memeGrid--deleteAll{
    margin-left: 15px;
}

.meme--delete{
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-10px,-15px);
    border-radius: 50%;
    padding: 6px;
    font-size: 0.7rem;
}